.active {
    color: green;
}
.header {
    padding: 40px 0 64px 0; /* Assuming $base-size = 8px */
    margin-bottom: 40px;
    background: #222;       /* Example for $color-dark */
    color: #fff;            /* Example for $color-light */
    position: relative;
  }
  
  .main-nav {
    display: flex;
    // flex-direction: row;
    // justify-content: center;
    // align-items: flex-start;
    width: 277px;
    margin: 0 auto;
    padding-top: 50px;
  }
  
  .main-nav a {
    font-size: 24px; /* Example for .h2 */
    color: #f9a825;  /* Example for $color-main */
    text-decoration: none;
    margin-right: 16px;
    text-align: center;
    padding: 8px 16px;
    background: #1a1a1a; /* Slightly darker than $color-dark */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .main-nav a.active {
    background: #eee;
  }

  .song-list {
    margin: 0 auto;
    width: 356px;
  }